html {
    font-size: 62.5%;
}
body {
    background-color: var(--theme-color-3);
}
* {
    box-sizing: border-box;
    font: normal 400 var(--default-size)/1.2 "Roboto", sans-serif;
    color: var(--white-color);
}
.h1-title {
    font-size: var(--h1-size);
}
.h2-title {
    font-size: var(--h2-size);
}
.container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1800px;
    width: 100%;
}
h1, h2, h3, p, ul, li {
    margin: 0;
}
ul, li, button {
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    border: none;
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
